<h3>Edit <%= @task.name %></h3>

<form action="/tasks/<%=@task.id %>" method="POST">
  <label> Task Name: </label>
  <input type="text" name="name" value="<%=@task.name %>"> <br></br>

  <label> Where does this task go? </label>
    <select name="list_id">
    <% @lists.each do |list| %>
      <option value=<%=list.id %> <%= "selected" if list.id==@task.list.id %> ><%= list.name %></option>
    <% end %>
  </select>
  
  <input class="btn btn-primary" type="submit" value="Update">
</form>
